html {
  font-family: Tokyo;
  font-size: 16px;
  background-image: url("images/sakuraBG2.png");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

head {
  font-family: TokyoBold;
  font-size: 18px;
}

body {}

p {}

@keyframes sakura {
  0% {
    top: 0;
    right: 0;
  }
  30% {
    top: 50px;
  }
  68%,
  72% {
    right: 50px;
  }
  100% {
    top: 100px;
    right: 100%;
  }
}

@font-face {
  font-family: "Tokyo";
  src: url("font/NightinTokyo.ttf");
}
@font-face {
  font-family: "TokyoBold";
  src: url("font/NightinTokyoBold.ttf");
}
@font-face {
  font-family: "TokyoShadow";
  src: url("font/NightinTokyoShadow.ttf");
}
