html {
  font-family: Tokyo;
  font-size: 16px;
  color: rgb(255, 0, 0);
  background-image: url("images/sakuraBG2.png");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

head {
  font-family: TokyoBold;
  font-size: 18px;
}

body {}

p {}

.sakura {
  /* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
  transform: rotate(45deg);
  object-position: right top;
  /*animation: 3s ease-in 1s 2 reverse both play sakura;*/
}



/*@keyframes sakura {
  0% {
    top: 0;
    right: 0;
  }
  30% {
    top: 50px;
  }
  68%,
  72% {
    right: 50px;
  }
  100% {
    top: 100px;
    right: 100%;
  }
}*/

@font-face {
  font-family: "Tokyo";
  src: url("font/NightinTokyo.ttf");
}
@font-face {
  font-family: "TokyoBold";
  src: url("font/NightinTokyoBold.ttf");
}
@font-face {
  font-family: "TokyoShadow";
  src: url("font/NightinTokyoShadow.ttf");
}
