:root{
  --text-color: rgb(50, 200, 50);
}

html {
  font-family: Tokyo;
  font-size: 16px;
  color: var(--text-color);
  background-image: url("images/sakuraBG2.png");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

head {
  font-family: TokyoBold;
  font-size: 18px;

}

body {
  
}

p {}

@font-face {
  font-family: "Tokyo";
  src: url("font/NightinTokyo.ttf");
}
@font-face {
  font-family: "TokyoBold";
  src: url("font/NightinTokyoBold.ttf");
}
@font-face {
  font-family: "TokyoShadow";
  src: url("font/NightinTokyoShadow.ttf");
}

