/* 
{
.color1 {rgb(0, 0, 0);}
.color2 {rgb(1, 38, 67);}
.color3 {rgb(7, 96, 153);}
.color4 {rgb(0, 162, 252);}
.color5 {rgb(0, 236, 255);}
}

:root {
  color-scheme: light dark;
}

.element {
  color: light-dark(black, white);
  background-color: light-dark(white, black);
}
*/
body {
  background-color: rgb(100, 100, 100);
}

h1 {
  color: rgb(0, 255, 255);
  border: 2px solid rgb(0, 255, 255);
  border-radius: 30px;
  background-image:;
}

p {
  color: rgb(0, 255, 255);
  border: 2px solid rgb(0, 255, 255);
  border-radius: 30px;
  background-image:;
}

a:link {
  color: rgb(0, 50, 200);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 50, 200);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 100, 225);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(0, 255, 255);
  background-color: transparent;
  text-decoration: underline;
}
