::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
    width: 100%; 
    max-width: 66%; 
    font-family: monospace; 
    border: 1px dashed green; 
    margin: 0;
    color: green;
    background-color: black;
}