html {
  font-family: 'VT323', monospace;
  background: black;
  color: #33ff33;
  text-shadow: 0 0 5px #33ff33, 0 0 10px #33ff33;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  height: 100%;
  width: 100%;
  margin: 10px;
  z-index: 1;
}


