<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <script defer src="./assets/js/dynamicTitle.js"></script>
  <link rel="stylesheet" href="./assets/css/stylesheet.css">
  <link rel="icon" type="image/png" href="./assets/images/favicon.png">
  {% feed_meta %}
  {% seo %}
</head>
<body>
  <canvas id="Matrix"></canvas>
  <h1>{{ page.title }}</h1>
  {% include navbar.html %}
  <!--<div id="nav-container"></div>
  <script src="./assets/js/navbar.js"></script>-->
  <div class="content">
    <p>
      {{ content }}
    </p>
  </div>
  {% include footer.html %}
  <script src="./assets/js/matrix2.js"></script>
</body>
</html>
